name: Build NVDA 2026.1 x64 Binary

on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-pc-windows-msvc
      - uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          architecture: 'x64'
      - name: Build
        working-directory: ./ospeak
        run: |
          pip install maturin
          maturin build --release --interpreter python.exe --target x86_64-pc-windows-msvc
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: liboptispeech-pyd
          path: target/wheels/*.whl
